$assetz-purple: #33266B;
$assetz-red: #E83E5D;
$assetz-green: #44B070;
$assetz-black: #212529;
$assetz-charcoal: #363636;
$assetz-white: #D3D3D3;
$assetz-charcoal-light: #404040;

$small-laptop: 1400px;

$tablet: 1023px;

$mobile: 765px;

$small-mobile: 400px;

